Source: url-dispatcher
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               dbus-test-runner,
               debhelper (>= 9),
               dh-autoreconf,
               gtester2xunit,
               intltool,
               libdbus-1-dev,
               libdbustest1-dev,
               python3-dbusmock,
Standards-Version: 3.9.4
Homepage: http://launchpad.net/url-dispatcher
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/url-dispatcher/trunk.13.10
Vcs-Browser: http://bazaar.launchpad.net/~indicator-applet-developers/url-dispatcher/trunk.13.10/files

Package: url-dispatcher
Architecture: any
Depends: upstart-app-launch,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Service to allow sending of URLs and get handlers started
 Allows applications to request a URL to be opened and handled by another
 process without seeing the list of other applications on the system or
 starting them inside its own Application Confinement.
 .
 This package provides a service for the URL Dispatcher

Package: url-dispatcher-tools
Architecture: any
Depends: url-dispatcher (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Tools for working with the URL Dispatcher.
 Allows applications to request a URL to be opened and handled by another
 process without seeing the list of other applications on the system or
 starting them inside its own Application Confinement.
 .
 This package provides tools for working with the URL Dispatcher.

Package: liburl-dispatcher1
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Recommends: url-dispatcher (= ${binary:Version}),
Description: library for sending requests to the url dispatcher
 Allows applications to request a URL to be opened and handled by another
 process without seeing the list of other applications on the system or
 starting them inside its own Application Confinement.
 .
 This package contains shared libraries to be used by applications.

Package: liburl-dispatcher1-dev
Section: libdevel
Architecture: any
Depends: libglib2.0-dev,
         liburl-dispatcher1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Multi-Arch: same
Description: library for sending requests to the url dispatcher
 Allows applications to request a URL to be opened and handled by another
 process without seeing the list of other applications on the system or
 starting them inside its own Application Confinement.
 .
 This package contains files that are needed to build applications.
